* { margin: 0; padding: 0; box-sizing: border-box; }

/* Header */
header { width: 100%; height: 60px; background-color: #36c; display: flex; align-items: center; justify-content: space-between; padding: 0 20px; }
header a { color: white; text-decoration: none; display: block; padding: 10px; }
header h1 { color: white; font-size: 30px; }
header nav ul { list-style: none; display: flex; gap: 0px; }
header nav ul li button { background-color: transparent; color: white; font-weight: bold; border: none; font-size: 16px; position: relative; }
header nav ul li button::after { content: ''; display: block; width: 0; height: 2px; background-color: white; position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); transition: width 0.3s; }
header nav ul li button:hover::after { width: 100%; }

/* Body */
.maslow-needs { min-height: calc(100vh - 60px - 160px); display: flex; align-items: center; justify-content: center; padding: 40px 0; }
.pyramid { list-style: none; display: flex; flex-direction: column; align-items: center; justify-content: center; }
.pyramid > li { height: 120px; display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center; }
.needs-title { font-weight: bold; font-size: 20px; margin-bottom: 10px; }
.self-actualization { width: 160px; height: 120px; background-color: transparent; position: relative; }
.self-actualization::before { z-index: -1; display: block; content: ''; box-sizing: border-box; width: 160px; height: 120px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: transparent; border-left: 80px solid transparent; border-right: 80px solid transparent; border-bottom: 120px solid #DFF5EA; }
.esteem { width: 320px; height: 120px; background-color: transparent; position: relative; }
.esteem::before { z-index: -1; display: block; content: ''; box-sizing: border-box; width: 320px; height: 120px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: transparent; border-left: 80px solid transparent; border-right: 80px solid transparent; border-bottom: 120px solid #BFE6D3; }
.love_belonging { width: 480px; height: 120px; background-color: transparent; position: relative; }
.love_belonging::before { z-index: -1; display: block; content: ''; box-sizing: border-box; width: 480px; height: 120px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: transparent; border-left: 80px solid transparent; border-right: 80px solid transparent; border-bottom: 120px solid #9ED9D5; }
.safety { width: 640px; height: 120px; background-color: transparent; position: relative; }
.safety::before { z-index: -1; display: block; content: ''; box-sizing: border-box; width: 640px; height: 120px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: transparent; border-left: 80px solid transparent; border-right: 80px solid transparent; border-bottom: 120px solid #7FC9D9; }
.physiological { width: 800px; height: 120px; background-color: transparent; position: relative; }
.physiological::before { z-index: -1; display: block; content: ''; box-sizing: border-box; width: 800px; height: 120px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: transparent; border-left: 80px solid transparent; border-right: 80px solid transparent; border-bottom: 120px solid #A7CFEA; }

/* Footer */
footer { width: 100%; height: 160px; padding: 30px; background: #333; color: white; }
footer .footer-title { font-size: 24px; font-weight: bold; margin-bottom: 10px; }
footer .footer-content { font-size: 16px; line-height: 1.5; }